html {
  height: 100%;
  width: 100%;
  background: rgba(240,240,240,1);
}
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
abbr { /* Removes underline in Gecko */
  border-bottom-width: 0;
}
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#select-area {
  position: absolute;
  background-color: rgba(0, 162, 232, 0.5);
  border: 2px solid rgba(0, 162, 232, 1.0);
}
#map {
  -moz-transform: scaleY(-1); /* Gecko */
  -o-transform: scaleY(-1); /* Opera */
  -webkit-transform: scaleY(-1); /* webkit */
  transform: scaleY(-1); /* standard */
  filter: FlipW; /* IE 6/7/8 */
}
#map:active {
  cursor:move;
}
img.roadtype {
  height: 40px;
  width: 40px;
}
h2 {
  margin: 0;
  padding: 0 0 10px 0;
}
h3 {
  font-size:12px;
  margin: 0;
  padding: 0 0 5px 0;
}
div.loader {
  height: 50px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
}
div.loader img {
  height: 50px;
  width: 50px;
}
div.arrow {
  height: 30px;
  width: 19.5px;
  background: url('arrow.png');
  background-size: 100%;
  position: absolute;
  cursor: hand;
  cursor: pointer;
  z-index: 10;
}
div.top {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  top: 0;
  left: 50%;
  margin-left: -9.75px;
}
div.right {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  right: 0;
  top: 50%;
  margin-top: -15px;
}
div.bottom {
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform:rotate(270deg);
  bottom: 0;
  left: 50%;
  margin-left: -9.75px;
}
div.left {
  left: 0;
  top: 50%;
  margin-top: -15px;
}
div#coastline_options {
  position: fixed;
  right: -1;
  bottom: -1;
  border: 1px gray solid;
  background:white;
  padding:0 5 2 5;
}


/* OVERLAY */
div.overlay {
  position: relative;
  position: absolute;
  z-index: 1;
  left: 3%;
  width: 220px;
  margin-top: 3%;
  background: rgba(225, 245, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5 5 5 5;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 5px 15px rgba(255,255,255,0.25), inset 0 -5px 15px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 5px 15px rgba(255,255,255,0.25), inset 0 -5px 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 5px 15px rgba(255,255,255,0.25), inset 0 -5px 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 5px 15px rgba(255,255,255,0.25), inset 0 -5px 15px rgba(0,0,0,0.15);
}
div.overlay ul#transtype li {
  list-style: none;
  display: inline-block;
  width: 32%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
div.overlay ul#transtype {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.overlay ul#options li {
  display: block;
  margin: 0;
  padding: 0;
}

div.overlay ul#options {
  width: 100%;
  margin: 0;
  padding: 0;
}

div#routeinfo {
  opacity: 0;
}
div#routeinfo #time {
  font-style:italic;
}

input[type=radio] {
  position: absolute;
  left: 0;
  top: 0;
}
input[type=text] {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border:1px rgba(200, 200, 210, 0.8) solid;
  margin:1px;
  padding:2px;
}
input[type=text]:hover, input[type=text]:focus {
  background: rgba(255, 255, 255, 0.8);
}
input[type=submit] {
  margin:5 0 0 0;
}
div.zoomcontainer {
  position: absolute;
  font-size:17px;
  font-weight:bold;
  text-align:center;
  top: 0;
  right: -33px;
  text-shadow: rgba(100, 100, 100, 0.1) 1px 1px 0px;
}
div.zoom {
  width:20px;
  border-radius: 2 2 2 2;
  border: 1px solid rgba(255, 127, 0, 0.15);
  color: rgba(255, 127, 0, 0.3);
  background:rgba(255, 245, 220, 0.8);
  cursor:pointer;
  cursor:hand;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 2px rgba(255,255,255,0.2), inset 0 1px 3px rgba(255,255,255,0.25), inset 0 -2px 3px rgba(0,0,0,0.15);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 2px rgba(255,255,255,0.2), inset 0 1px 3px rgba(255,255,255,0.25), inset 0 -2px 3px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 2px rgba(255,255,255,0.2), inset 0 1px 3px rgba(255,255,255,0.25), inset 0 -2px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 2px rgba(255,255,255,0.2), inset 0 1px 3px rgba(255,255,255,0.25), inset 0 -2px 3px rgba(0,0,0,0.15);
}
div.zoom:hover {
  border: 1px solid rgba(255, 127, 0, 0.2);
  color: rgba(255, 127, 0, 0.8);
  background:rgba(255, 230, 200, 0.9);
}
div.plus {

}
div.minus {
  margin:5 0 0 0;
}



/* AUTOCOMPLETION */
.ui-autocomplete { position: absolute; cursor: default; }	
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
  overflow:auto;
  max-height:300px;
  border:1px gray solid;
  background: white;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: bold;
  background: #ebebeb;
  border:1px lightgray solid;
}
